
/* Asegura que el fondo esté fijo y no se desplace */
.bodymain {
    margin-left: 300px;
    background-image: url(img/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fondo fijo */
    height: 100vh;
    overflow: hidden;
}

.bodyplay {
    background-image: url(img/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fondo fijo */
    justify-content: center;
    justify-items: center;
    min-height: 100vh; /* Asegura que la altura sea al menos la del viewport */
}

.bodyranking {
    margin-top: 150px;
    background-image: url(img/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fondo fijo */
    min-height: 100vh;
}

.bodyafegir {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/gif.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fondo fijo */
    min-height: 100vh;
}

header {
    margin-top: 150px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
}

nav {
    font-family: sans-serif;
    font-size: 90px;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:not(:first-child) {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 1000;
}

nav a:hover {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.logo {
    margin-top: 15px;
    display: flex;
    height: 90px;
    width: 90px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
    background-color: transparent; 
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    background-color: transparent; 
    color: whitesmoke;
    font-weight: 1000;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    width: fit-content;
    height: fit-content;
}

button:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}

.leaderboard {
    position: absolute;
    top: 20%;
    right: 50px;
    background-color: rgba(43, 43, 43, 0.9);
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.leaderboard h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 20px;
}

.leaderboard table {
    
    border-collapse: separate 10px;
    border-spacing:5px;
    width: 100%;
    color: whitesmoke;
}

.leaderboard th, .leaderboard td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px; /* Aumentar el padding para más espacio vertical */
    text-align: center;
    font-weight: 1000;
}

.leaderboard th {
    background-color: #4e4d4d;
    font-size: 20px;
    margin: 5px;
}

.leaderboard td {
    background-color: rgba(40, 39, 39, 0.2);
    transition: background-color 0.3s;
}

.leaderboard td:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.ver-mas-button {
    margin-top: 20px; 
    text-align: center; 
}

.ver-mas-button button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: transparent; 
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ver-mas-button button:hover {
    background-color: #ffffff; 
    color: black;
}

#playlist-container{
    margin-top: 50px;
}
#play-song-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    
}

.play-song-item {
    position: relative; /* Necesario para que el botón se posicione respecto al contenedor */
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.play-song-item:hover {
    background-color: #4a4a4a;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #e60000;
}

.song-img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-right: 15px;
}

.play-song-info {
    flex-grow: 1;
}

.play-song-info h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.play-song-info p {
    margin: 5px 0;
    color: #ccc;
}

.mapper {
    font-size: 14px;
    color: #9e9e9e;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.status-label {
    background-color: #32cd32;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.difficulty {
    display: flex;
    align-items: center;
}


.ranking-container {
    margin: 50px auto;
    max-width: 800px;
    background-color: rgba(43, 43, 43, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.ranking-container h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}

#rankingTable {
    width: 100%;
    border-collapse: collapse;
    color: whitesmoke;
}

#rankingTable th, #rankingTable td {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#rankingTable th {
    background-color: #4e4d4d;
}

#rankingTable td {
    background-color: rgba(40, 39, 39, 0.2);
    transition: background-color 0.3s;
}

#rankingTable td:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.form-container {
    background-color: rgba(43, 43, 43, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

/* Título del formulario */
h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* Estilos para los labels y campos de texto */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    background-color: #333;
    color: #fff;
}

/* Estilo para los campos de archivo */
/* input[type="file"] {
    display: none; /* Ocultar el campo real */
/* }  */

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.custom-file-label:hover {
    background-color: #0056b3;
}

/* Para mostrar el nombre del archivo seleccionado */
.file-selected {
    margin-bottom: 20px;
    font-size: 14px;
    color: #ccc;
}

/* Estilo para el botón de envío */
button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Mensajes de error o éxito */
#mensaje {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: red; /* Cambia a verde si es un mensaje de éxito */
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    button[type="submit"] {
        font-size: 16px;
    }
}

.titulolista{
    color: white;
    font-size: 0px;
}